.fotosAlbum{
    width: 10vw;
}

main{
    margin: auto;
    text-align: center;
}

.btn.btn-danger{
    display: block;
    margin: auto;
    font-size: 20px;
    margin-top: 10px;
}

.btn.btn-danger:hover{
    font-size: 25px;
}
input{
    margin: auto;
    margin-top: 20px;
    display: flex;
}

@media screen and (max-width: 1000px) {
    .fotosAlbum{
        width: 70vw;
        margin: 0px auto;
        text-align: center;
    }
}

.fotosAlbum:hover{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}

.col{
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
H1{
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: center;
}
.container{
    width: 100%;
    margin-top: 10px;
}

.row, .rowUpload{
    margin: 0 auto;
    text-align: center;
}

#carouselExampleSlidesOnly{
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    width: 90% !important;
    height: 520px !important;
    margin: auto;
    margin-top: 20px;
    padding: 10px !important;
}

img.d-block.w-100{
    height: 500PX;
    object-fit: cover;
}

/*Drag Area CSS*/
.drag-area{
    display: block;
    border: 2px dashed rgb(25, 25, 25);
    height: 500px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .texto{
    text-align: justify;
    width: 90%;
    margin: 10px auto;
  }
  div.texto>h1{
    text-align: center !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  }
@media screen and (min-width:1090px){
    .drag-area{
      width: 600px;
      margin: 0 auto;
      margin-top: 30px;
    }  
    .texto{
      text-align: justify;
      width: 600px;
      margin: 10px auto;
    }
    div.imagem{
      width: 600px;
      object-fit: cover;
      margin: auto;
      margin-top: 50px;
    }
    div.texto>h1{
      text-align: center !important;
      font-family: var(--Roboto-Slab);
    }
    .imagem>img{
      width: 600px;
    }
}
  .drag-area.active{
    border: 2px solid rgb(44, 44, 44);
  }
  .drag-area .icon{
    font-size: 100px;
    color: #fff;
  }
  .drag-area header{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .drag-area span{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .drag-area button{
    font-size: 20px;
    background-color: white;
    font-weight: 500;
    border: 0;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.225);
    cursor: pointer;
  }
  .drag-area button:hover{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.399);
    
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

div.dimensionar{
    width: 20%;
}