div.form{
    display: inline-block;
}

div.ct{
    text-align: center;
}

input.form, select.form,select.form2{
    height: 40px;
    margin-top: -20px;
    margin-bottom: 10px;
}

select.form{
    width: 400px;
}
input.form2, textarea.form2{
    height: 40px;
    width: 400px;
    overflow-y: scroll;
    margin-top: -20px;
    margin-bottom: 10px;
}

button.btn.btn-danger{
    text-align: center;
    margin: auto;
}

div.visualizar{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    width: 100%;
    flex-basis: 40%;
}

div.Cadastro{
    text-align: center;
    flex-basis: 33%;
    margin:auto;
    margin-left: 2px;
}

@media screen and (max-width:800px){
    div.Cadastro{
        text-align: center;
        flex-basis: 100%;
        margin:auto;
        margin-left: 2px;
    }
}

h1.titulo{
    text-align: center;
}