.corpo-curso-area{
    margin-top: 2%;
   /*  margin-left: 13%; */
}

.titulo h2{
    text-align: center;
   /*  margin-left: -16%; */
}

input,select{
    height: 40px !important;
}

.hide{
    display: none;
}



/* [!] Definições de estilo para .table-curso-area e seus elementos */

.menu-div option, select{
    font-size: 15px;
}

.table-curso-area{
    margin: auto;
    box-shadow: 4px 4px;
    border: 1px;
    border-style: solid;
    border-width: auto;
    border-color: auto;
    background-color: white;
}

.table-curso-area p{
    margin: -1.5%;
    padding: 2%;
}

.table-curso-area td{
    margin: 20px;
    padding: 8px;
    text-align: left
}

.table-curso-area input{
    width: 370px;
    height: 40px;
}

/* [/!] Definições de estilo para .table-curso-area e seus elementos */

.botao-confirmar{
    text-align: center;
    margin: 0 auto !important;
    margin-top: 10px !important;
    /* margin-left: 38%; */
}

.conf-btn{
    border: none;
    background-color: rgb(3, 196, 3);
    height: 35px;
}

.conf-btn a{
    color: ivory;
}

.conf-btn:hover, .conf-btn a:hover{
    color: ivory;
    background-color: rgb(170, 255, 172);
}

table.format{
    margin: auto;
    text-align: center;
    width: 90%;
    margin-top: 20px !important;
}

table.format>tbody>tr{
    margin: auto;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.63);
    width: 400px;
    margin: 10px;
}
table.format>tbody>tr>td{
    margin: auto;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.63);
    width: 400px;
}