@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Slab&display=swap');


:root {
    --primary: #C4C1D6;
    --light: #F8F8F8;
    --dark: #252525;
    --Confortaa: "Confotaa", cursive;
    --Roboto-Slab: 'Roboto Slab', serif,
}

.drag-area{
    border: 2px dashed rgb(25, 25, 25);
    height: 500px;
    width: 700px;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  .drag-area.active{
    border: 2px solid rgb(44, 44, 44);
  }
  .drag-area .icon{
    font-size: 100px;
    color: #fff;
  }
  .drag-area header{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .drag-area span{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .drag-area button{
    font-size: 20px;
    background-color: white;
    font-weight: 500;
    border: 0;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.225);
    cursor: pointer;
  }
  .drag-area button:hover{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.399);
    
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

div.dimensionar{
    width: 20%;
}
