@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Slab&display=swap');


:root {
    --primary: #C4C1D6;
    --light: #F8F8F8;
    --dark: #252525;
    --Confortaa: "Confotaa", cursive;
    --Roboto-Slab: 'Roboto Slab', serif,
}
div.mapa{
    width: 100%;
    text-align: center;
}
div.acervo{
    text-align: center;
    padding-bottom: 20px ;

}/* Scrollbar do Acervo */
div::-webkit-scrollbar {
    height: 0px;               /* width of the entire scrollbar */
  }
  
div::-webkit-scrollbar-track {
    background: rgba(255, 0, 0, 0.223);        /* color of the tracking area */
  }
  
div::-webkit-scrollbar-thumb {
    background-color: rgb(114, 16, 16);    /* color of the scroll thumb */
  }


iframe{
    width: 90%;
}
main{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.562);
    width: 70%;
    margin: 0 auto;
    height: auto;
}
a.noticias{
    color: #252525;
}

caption{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
div.noticias{
    margin-bottom: 30px;
    padding: 10px;
}

div.texto{
    display: inline-block;
    width: 60vw;
    color: #252525;
}

h1.noticias{
    color:rgb(192, 4, 4);
}

img.noticias{
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: top;
}

input{
    margin-top: 10px;
}

.col{
    height:300px;
}

h1.atualizacao{
    color: rgb(192, 4, 4);
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-top: -10px;
}

div.atualizacao{
    margin-top: 30px;
}

caption.atualizacao{
    font-size: 30px;
    cursor: pointer;
}
div.podio{
    text-align: center;
    cursor: pointer;
}
div.podio>img{
    width: 300px;
    margin: 6px;
}

div.podio>h1, div.mapa>h1, div.acervo>a>h1{
    font-size: 25px !important;
    color: rgb(192, 4, 4) !important;
}

a.acervo:hover{
    color: #252525;
}
caption.podio{
    display: block;
}
a.acervo{
    color: #252525a1;
}

input#data{
    height: 40px;
}
input#Updates{
    height: 40px;
}
input#autor{
    height: 40px;
}

div.form{
    margin: auto;
    text-align: center;
}
input.btn.btn-danger{
    display: block;
    margin: auto;
    margin-top: 10px ;
}
button.btn.btn-danger{
    display: inline-block;
    margin: 10px auto;
    text-align: center;
}

button.btn.btn-danger.One{
    display: block;
    margin: 10px auto;
    text-align: center;
}

img.escondido{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.278);
}

p.escondido{
    margin-top: 20px;
}
/* Netflix Slider */
    .carrossel{
        width: 30%;
    }
  /* .container {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .item>img{
      object-fit: cover;
  }
  
  .item {
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
  }

  #prev:active .container {
    transform: translateX(-25%);
 }

 #next:active .container {
    transform: translateX(25%);
 } */

@media  screen and (max-width:1000px) {
    .col{
        height:400px;
    }
    div.podio>img{
        width: 400px;
        margin: 10px 0px ;
    }
}

@media  screen and (max-width:800px) {
    main{
        width: 95%;
    }
    img.noticias{
        width: 100%;
        height: 90%;
    }
    .col{
        height:490px;
    }
    div.podio>img{
        width: 90%;
        margin: 10px 10px ;
    }
    #Updates{
        width: 150px;
    }
    #autor{
        width: 150px;
    }
    #data{
        width: 140px;
    }
    input.btn.btn-danger{
        width: 290px;
    }

}


/* .podio{
    background-image: url('../Imagens/Fundo\ Professor.jpg');
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.primeiro>img{
    width: 20vw !important;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px
}

.segundo>img{

    width: 20vw !important;
}

.terceiro>img{
    width: 20vw !important;
}

.primeiro, .segundo, .terceiro{
    display: inline-block;
    text-align: center;
} */