@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Slab&display=swap');


:root {
    --primary: #C4C1D6;
    --light: #F8F8F8;
    --dark: #252525;
    --Confortaa: "Confotaa", cursive;
    --Roboto-Slab: 'Roboto Slab', serif,
}
.podio{
    background-image: url('../Imagens/Fundo\ Professor.jpg');
    margin: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.primeiro>img{
    width: 20vw !important;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px
}

.segundo>img{

    width: 20vw !important;
}

.terceiro>img{
    width: 20vw !important;
}

.primeiro, .segundo, .terceiro{
    display: inline-block;
    text-align: center;
}